# Environment & Secrets
.env
*.env
*.pem
*.key

# Python Bytecode & Virtual Environments
__pycache__/
*.pyc
venv/
.venv/

# System & IDE files
.DS_Store
.vscode/
.idea/

# Database files
*.sqlite3
*.log


# Ignore Terraform local plugins and cache
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
